@page
@model IndexModel
@using RecipeSharingApp.Models
@{
    ViewData["Title"] = "Recipe list";
}

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="my-4">@ViewData["Title"]</h1>
        @if (HttpContext.Session.GetString("User") != null)
        {
            <div class="d-flex justify-content-end">
                <a href="/AddRecipe" class="btn btn-primary">Add a Recipe</a>
            </div>
        }
    </div>


    @*  filter *@
    <form method="get" class="mb-4">
    <div class="row">
        <div class="col-md-3">
             <label for="FilterRegion" class="form-label">Region</label>
                <select id="FilterRegion" name="FilterRegion" class="form-select">
                <option value="">All regions</option>
                @foreach (var region in Model.AvailableRegions)
                {
                        if (string.Equals(Model.FilterRegion, region))
                        {
                            <option value="@region" selected>@region</option>
                        }
                        else
                        {
                            <option value="@region">@region</option>
                        }
                }
            </select>
        </div>

        <div class="col-md-3">
             <label for="FilterCategory" class="form-label">Category</label>
                <select id="FilterCategory" name="FilterCategory" class="form-select">
                <option value="">All categories</option>
                @foreach (var category in Model.AvailableCategories)
                {
                        if (string.Equals(Model.FilterRegion, category))
                        {
                            <option value="@category" selected>@category</option>
                        }
                        else
                        {
                            <option value="@category">@category</option>
                        }
                }
            </select>
        </div>

        <div class="col-md-3">
             <label for="FilterPreparationTimeRange" class="form-label">Preparation Time</label>
                <select id="FilterPreparationTimeRange" name="FilterPreparationTimeRange" class="form-select">
                <option value="">All preparation times</option>
                    @if (string.Equals(Model.FilterPreparationTimeRange, "0-30"))
                    {
                        <option value="0-30" selected>Max 30 minutes</option>
                    }
                    else
                    {
                        <option value="0-30">Max 30 minutes</option>
                    }
                    @if (string.Equals(Model.FilterPreparationTimeRange, "30-60"))
                    {
                        <option value="30-60" selected>30-60 minutes</option>
                    }
                    else
                    {
                        <option value="30-60">30-60 minutes</option>
                    }
                    @if (string.Equals(Model.FilterPreparationTimeRange, "60-90"))
                    {
                        <option value="60-90" selected>60-90 minutes</option>
                    }
                    else
                    {
                        <option value="60-90">60-90 minutes</option>
                    }
                    @if (string.Equals(Model.FilterPreparationTimeRange, "90+"))
                    {
                        <option value="90+" selected>More than 90 minutes</option>
                    }
                    else
                    {
                        <option value="90+">90+ minutes</option>
                    }
            </select>
        </div>

        <div class="col-md-3 d-flex align-items-end">
            <button type="submit" class="btn btn-primary w-100">Apply Filters</button>
        </div>
    </div>
</form>



   @*  recipes *@
    <div class="row">
        @if (Model.Recipes!=null && Model.Recipes.Any())
        {
            @foreach (var recipe in Model.Recipes)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="@recipe.ImageUrl" class="card-img-top" alt="@recipe.Title">
                        <div class="card-body">
                            <h5 class="card-title">@recipe.Title</h5>
                            <p class="card-text">
                                <strong>Category:</strong> @recipe.Category <br>
                                <strong>Region:</strong> @recipe.Region <br>
                                <strong>Preparation Time:</strong> @recipe.PreparationTime minutes
                            </p>
                            <a class="btn btn-primary" asp-page="/RecipeDetails" asp-route-id="@recipe.Id">View recipe</a>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No recipes found matching your filters.</p>
        }
    </div>
</div>
