@page
@model RecipeSharingApp.Pages.MyRecipesModel
@{
    ViewData["Title"] = "My Recipes";
}

<head>
    <style>
        .recipe-card {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

            .recipe-card:hover {
                transform: scale(1.02);
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            }
    </style>
</head>

<div class="container py-5">
    <div class="position-relative">
        <h1 class="text-lg-center text-dark pb-1 mb-0">@ViewData["Title"]</h1>
    </div>
    <hr class="mb-2 mb-md-5 w-50 mx-lg-auto border-secondary">

    @*  recipes *@
    <div class="row">
        @if (Model.Recipes != null && Model.Recipes.Any())
        {
            @foreach (var recipe in Model.Recipes)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm recipe-card">
                        <img src="@recipe.ImageUrl" class="card-img-top" alt="@recipe.Title">
                        <div class="card-body row">
                            <div class="col-10">
                                <h2 class="card-title fs-5 text-dark">@recipe.Title</h2>
                                <div class="card-text text-muted">
                                    <p class="fs-6 mb-1"><span class="fw-bold">Category:</span> @recipe.Category</p>
                                    <p class="fs-6 mb-1"><span class="fw-bold">Region:</span> @recipe.Region</p>
                                    <p class="fs-6 mb-1"><span class="fw-bold">Preparation Time:</span> @recipe.PreparationTime minutes</p>
                                </div>
                            </div>
                            <div class="col-2 d-flex justify-content-end align-items-center">
                                <a class="btn d-flex justify-content-center align-items-center btn-outline-primary stretched-link p-0 h-100 w-75" asp-page="/RecipeDetails" asp-route-id="@recipe.RecipeId">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p class="text-center text-muted">No recipes added yet.</p>
        }
</div>